/*******************************************ABOUT DETAILS*******************************************/

/*Features of about*/

#about {
    position: relative;
    padding: 30px 0px 0px 0px;
    background-color: transparent;
    color: white;
    font: {
        weight: 600;
    }
}

#about h2{
    padding-top: 30px;
}


/*Enable the user to read more in wikipedia*/

.read-more {
    text-align: center;
    color: white;
    font-size: 0.8em;
}

.aboutGame{
    margin-top: 50px;
}
