/*******************************************CONTACT DETAILS*******************************************/

/*Features of the contact form*/

.form-control {
    margin-top: 15px;
    color: black;
    border-color: black;
}

/*Contact submit button features*/

#submit {
    margin: 20px 10px 40px 15px;
    width: 85px;
    font-size: 1.3em;
}
