/*******************************************FOOTER DETAILS*******************************************/


/*Features of the main footer*/

footer {
    background-color: rgba(0, 128, 0, 0.8);
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

/*Features of the social links*/

.footer-social .social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 22px;
    line-height: 1.6rem;
    text-align: center;
    color: white;
    background-color: $simonRed;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*Features when hovering over social links*/

.footer-social .social-links li a i:hover {
    background: red;
    color: black;
}

/*Features of the copyright statement at bottom of page*/

.copyright {
    font-size: 0.8em;
}

/*Icon features*/

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}
