/*******************************************VARIABLES*******************************************/

$simonBlue: rgb(0,0,255);
$simonRed: rgb(255,0,0);
$simonDarkRed: rgb(139,0,0);
$simonYellow: rgb(255,255,0);
$simonGreen: rgb(0,255,0);
