@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");
.row {
  text-align: center; }

.game-row, #red, #yellow, #blue, #green, #roundNumber, .large-circle, #startReset {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px auto; }

.gamebutton {
  background-color: transparent;
  /*-moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;*/
  animation-duration: 0.3s; }

#red {
  width: 100px;
  height: 100px;
  background: red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  margin-left: 20px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white; }

#yellow {
  width: 100px;
  height: 100px;
  background: yellow;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  margin-right: 20px;
  margin-top: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white; }

#blue {
  width: 100px;
  height: 100px;
  background: blue;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  margin-left: 20px;
  margin-top: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white; }

#green {
  width: 100px;
  height: 100px;
  background: green;
  border-top-left-radius: 100%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  margin-right: 20px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white; }

#roundNumber {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  margin-right: 110px;
  padding-right: 5px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 25px;
  animation-duration: 0.4s;
  color: white; }

.large-circle {
  background-color: rgba(0, 0, 0, 0.7);
  border: 15px solid rgba(0, 0, 0, 0.1);
  height: 320px;
  width: 320px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: white; }

.clickButton {
  filter: brightness(50%); }

#information {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.5);
  animation-duration: 2s;
  display: inline-block;
  color: white;
  font-size: 1.2em;
  border-radius: 20px;
  background: rgba(255, 0, 0, 0.9);
  padding: 0.3em 0.5em 0.3em 0.5em;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin-top: 50px; }

#startReset {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 0px;
  width: 100px;
  /*font-size: 0.9em;*/
  font-weight: 400; }

.button {
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: rgba(255, 0, 0, 0.9);
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px darkred;
  border-style: solid;
  border-width: 1px;
  border-color: white; }

#submit {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-left: 15px;
  width: 85px;
  font-size: 1.4em;
  /*font-weight: 400;*/ }

.button:hover {
  /* background-color: rgba(255, 0, 0, 0.3)*/
  background: #ff0000;
  color: #000000;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; }

.button:active {
  background-color: rgba(255, 0, 0, 0.9);
  box-shadow: 0 5px #666;
  transform: translateY(4px); }

/*# sourceMappingURL=main.css.map */

#contact p{
  margin-bottom: 30px;
}
