$rich-black: #071013;
$kelly-green: #29BF12;
$blue: blue;
$red: red;
$yellow: yellow;
$green: green;
$buttonWidth: 90px;
$color: red;

@import 'https://fonts.googleapis.com/css?family=Muli';

body {
  background-color:$rich-black;
  color: white;
  font-family: 'Muli', sans-serif;
}

.gamefield {
  max-width: 480px;
  margin: 20px auto;
}

.align {
  display: flex;
  justify-content: center;
}

.game-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto;
}

.gamebutton {
  background-color: transparent;
    /*-moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;*/
    animation-duration: 0.4s;

}



@mixin border($color) {
  border: 4px solid $color;
  margin: 20px;
 &:active {
    // DO NOT USE HOVER  (better mobile performance)
    background-color: $color;
  }
}

@mixin onhover($color) {
  background-color: $color;
}

#red {
  @extend .game-row;
  width: 150px;
  height: 150px;
  background:red;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  margin-left: 30px;
  margin-bottom: 0px;
}

#yellow {
  @extend .game-row;
  width: 150px; 
  height: 150px;
  background:yellow;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  margin-right: 30px;
  margin-top: 0px;
}

#blue {
  @extend .game-row;
  width: 150px;
  height: 150px;
  background:blue;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  margin-left: 30px;
  margin-top: 0px;
}

#green {
 @extend .game-row;
  width: 150px;
  height: 150px;
  background:green;
  border-top-left-radius: 100%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  margin-right: 30px;
  margin-bottom: 0px;
}

.clickNumber{
  text-align:center;
  font-weight: 700;
  font-size: 35px;
}

#red.hover {
  border:6px solid $red;  
}

#yellow.hover {
  border:6px solid $red;  
}

#blue.hover {
  border:6px solid $red;  
}

#green.hover {
  border:6px solid $red;  
}
  
.btn-sett {
  font-size: 2.7em;
  text-align: left;
  transition: 500ms;
  width: 70px;
  margin-right: 340px;
  &:hover {
    color:  $kelly-green;
  }
}

.modal-title {
  color: black;
}

.black {
  color: $rich-black;
  text-align: center;
}




.large-circle{
   @extend .game-row;
    background-color:  rgba(0, 0, 0, 0.5);
    border:15px solid  rgba(0, 0, 0, 0.3);   
    height:500px;
    width:500px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    
}

.clickButton{
  filter: brightness(50%);
}

