
.bg {
    height: 100vh;
     background: url("../images/memorizing.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* filter: blur(5px);*/
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
   
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
    font:white;
}

.navbar-default .navbar-nav>li>a {
   
    background-color: rgba(0, 0, 0, .0);
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}


.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
}

.hvr-rectangle-out:before {
    background: rgba(0, 0, 0, 0.2);
}


.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #f05f40;
    color: white;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}
